# Ignore virtual environment
venv/
ENV/
env/

# Ignore .env files with sensitive keys
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore __pycache__ and other Python artifacts
__pycache__/
*.pyc
